body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f8f8f8;
  color: #797b84;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header__container, .main__container {
  margin: 0 2rem;
}

.header__text {
  font-size: 1.8rem;
}

.table__utilities {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  width: 100%;
  margin-left: 2.5rem;
}

.table__info {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  max-width: 90vw;
}

.table__count, .table__filter--link {
  font-size: .9rem;
}

.table__filter--link {
  cursor: pointer;
}

.table__search {
  display: flex;
  width: 100%;
}

.table__input {
  min-width: 90%;
  height: 3rem;
  padding: .5rem;
  border: .1rem solid #e6e6e6;
  font-size: 1.2rem;
}

.table__input::placeholder {
  padding: .5rem;
  color: #dddddd;
  font-size: 1rem;
  letter-spacing: .0500rem;
}

.table__submit {
  background: #2fb88d;
  padding: .5rem 1.2rem;
  border: none;
}

.table__container {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.table__body {
  width: 96vw;
  margin: 2rem 0;
}

.table__head {
  padding: .8rem .5rem;
  text-align: left;
}

.table__row, .table__data {
  border-bottom: .1rem solid #e6e6e6;
}

.table__row {
  padding: 1rem;
  width: 100%;
}

.table__row--border .table__data--expand:nth-child(2) {
  border-left: .5rem solid #e2e2e2;
}

.table__data, .table__data--expand {
  max-width: 8rem;
  padding: 1rem .5rem;
}

.table__data--expand {
  background: #fff;
}

.table__status {
  display: inline-block;
  width: .5rem;
  height: .5rem;
  margin-right: .5rem;
  border-radius: 50%;
}

.table__status--red {
  background: red;
}

.table__status--green {
  background: green;
}

.table__status--blue {
  background: blue;
}

.table__status--yellow {
  background: yellow;
}

.svg__icon {
  width: 2vmin;
  margin-left: .3rem;
  fill: #797b84;
}

.svg__icon--search {
  width: 2.5vmin;
  margin: 0;
}